#currentTable {
    margin: 20px;
}

i {
    padding-left: 20px;
}

img {
    border-radius: 10px;
    margin-left: 8px;
    width: 465px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 0.2s;
}

.AccountPresentCard {
    height: 80px;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;

}

.pair {
    position: absolute;
    left: 35%;
    bottom: 0%;
}

.AmountCard {
    margin-left: 25px;
    height: 68px;
    width: 110px;
    position: relative;
    left: 2px;
    bottom: 4px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AmountCard.blue {
    background-color: #1A237E;
    color: #C5CAE9;
}

.AccountPresentCard.blue {
    background-color: #C5CAE9;
    color: #1A237E;
    border: 2px solid #1A237E;
}

.AccountPresentCard.green {
    background-color: #F6FFDE;
    color: #41644A;
    border: 2px solid #41644A;
}

.AmountCard.green {
    background-color: #41644A;
    color: #F6FFDE;
}

.banner {
    margin-left: -4px;
}

.notselected {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.notselected:hover {
    transform: scale(0.99);
}

.selected {
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


.genderTab {
    height: 80px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.genderTab.green {
    background-color: #E3F4F4;
    color: #577D86;
}

.genderTab.red {
    background-color: #FCC8D1;
    color: #DB005B;
}

.genderTab.yellow {
    background-color: #FFF7D4;
    color: #C07F00;
}